body {
    margin: 0;
    padding: 40px;
    background: url("KEREN.png");
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: flex-start;
}

.box {
    width: 350px;
    height: 350px;
}

.gambar {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 30px;
}

.box-kanan {
    width: 900px;
}

.text-box {
    background: #034622c8;        
    color: white;               
    padding: 30px;              
    border-radius: 15px;        
    font-size: 17px;
    line-height: 1.7;
    text-align: justify;        
    margin-left: 20px;          
}
.image-grid {
    width: 90%;
    max-width: 900px;
    margin: 25px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 15px;
}

.image-grid img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}



.image-grid img {
    width: 100%;
    height: 230px;     
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

.sdgs-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.sdgs-wrapper {
    width: 100%;
    display: flex;
    justify-content: center; 
    margin: 40px 0;
}

.sdgs-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.sdgs-hijau {
    width: 1000px;     
    height: auto;      
    object-fit: contain;
    border-radius: 15px;
    image-rendering: auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.25);
}
